/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff5ee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
    padding: 20px;
    color: #6b4f4f;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: calc(18px + 2vmin);
    margin-bottom: 10px;
}

h2 {
    font-size: calc(16px + 1vmin);
    margin-bottom: 20px;
    color: #a67b5b;
}

#description {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 10px;
    text-align: justify;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#rsvp {
    background-color: rgba(247, 240, 232, 0.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
}

#rsvp h3 {
    margin-bottom: 15px;
}

#rsvpForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#rsvpForm label {
    font-weight: bold;
    margin-top: 10px;
}

#rsvpForm input,
#rsvpForm select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

#rsvpForm button {
    background-color: #a67b5b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: auto;
}

#rsvpForm button:hover {
    background-color: #8d6548;
}

#confirmationMessage {
    display: none;
    margin-top: 20px;
    text-align: center;
    color: green;
}

@media (min-width: 768px) {
    body {
        padding: 40px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    #description {
        font-size: 18px;
        padding: 0 20px;
    }

    #rsvpForm input,
    #rsvpForm select {
        padding: 15px;
        width: 50%;
    }

    #rsvpForm button {
        padding: 15px 30px;
    }
}
